argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
blinker==1.8.2
certifi==2024.6.2
cffi==1.16.0
click==8.1.7
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
minio==7.2.7
pycparser==2.22
pycryptodome==3.20.0
typing_extensions==4.12.2
urllib3==2.2.2
redis==4.5.1
rq==1.12.0
gevent==21.8.0
uuid==1.30
Flask-WTF==1.2.1
